section.trending-post-section
	h2.heading.text-uppercase trending post
	.trending-item-group.expand-item-wrapper
		+postLeftImg('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา กับการเมือง คนไทยปิดหูปิดตา กับการเมือง')
		+postLeftImg('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต ภายใน 2020')
		+postLeftImg('images/trend-3.png', 'Trending post img', 'Trip follower', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้...')
	+showMoreBtn