<section class="podcast">
    <h2 class="heading text-uppercase">Podcast</h2>
    <div class="podcast-item-group">
        <article class="post-left-img card flex-row border-0">
            <div class="card-img-left">
                <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp4">
                    <img src="images/trend-1.png" alt="Trending post img">
                    <div class="video-overlay-bg"><i class="icon-audio"></i></div>
                </a>
            </div>
            <div class="card-body">
                <div class="title-carrot">The risk taker</div>
                <a class="card-text" href="#">คนไทยปิดหูปิดตา กับการเมือง คนไทยปิดหูปิดตา กับการเมือง</a>
            </div>
        </article>
    </div>
</section>