<div class="section-heading">
    <h1 class="heading">video<span class="txt-italic">today</span></h1><a class="view-all" href="#">View all</a>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="video video-highlight" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
            <article class="post-left-img card flex-row border-0">
                <div class="card-img-left">
                    <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                        <img src="images/video-1.png" alt="Video">
                        <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                    </a>
                </div>
                <div class="card-body">
                    <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก </a>
                    <ul class="social-list-items">
                        <li class="item"><i class="icon-heart"></i>285</li>
                        <li class="item"><i class="icon-eye"></i>285342343</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-md col-lg-12">
                <div class="video" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
                    <article class="post-left-img card flex-row border-0">
                        <div class="card-img-left">
                            <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                                <img src="images/video-2.png" alt="Video">
                                <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก  ั่วทุกมุมโลก</a>
                            <ul class="social-list-items">
                                <li class="item"><i class="icon-heart"></i>285</li>
                                <li class="item"><i class="icon-eye"></i>285342343</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md col-lg-12">
                <div class="video" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
                    <article class="post-left-img card flex-row border-0">
                        <div class="card-img-left">
                            <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                                <img src="images/video-3.png" alt="Video">
                                <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก</a>
                            <ul class="social-list-items">
                                <li class="item"><i class="icon-heart"></i>285</li>
                                <li class="item"><i class="icon-eye"></i>285342343</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>