<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Foundation.Serialization.Base" abstract="true">
					<targetDataStore physicalRootPath="$(MockProjectSourceFolder)\$(layer)\$(module)\serialization" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
					</predicate>
					<syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
				</configuration>
				<configuration name="Foundation.Serialization" extends="Foundation.Serialization.Base">
					<predicate>
						<!-- Templates -->
						<include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">
							<exclude children="true" />
						</include>
						<include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
							<exclude children="true" />
						</include>
						<include name="Templates.Project" database="master" path="/sitecore/templates/Project">
							<exclude children="true" />
						</include>

						<!-- Branches -->
						<include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation">
							<exclude children="true" />
						</include>

						<!-- Renderings -->
						<include name="Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
							<exclude children="true" />
						</include>
						<include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
							<exclude children="true" />
						</include>
						<include name="Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
							<exclude children="true" />
						</include>

						<!-- Layouts -->
						<include name="Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
							<exclude children="true" />
						</include>
						<include name="Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation">
							<exclude children="true" />
						</include>
						<include name="Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
							<exclude children="true" />
						</include>

						<!-- Placeholder Settings -->
						<include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
							<exclude children="true" />
						</include>
						<include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/Placeholder Settings/Foundation">
							<exclude children="true" />
						</include>
						<include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/Placeholder Settings/Project">
							<exclude children="true" />
						</include>

						<!-- Models -->
						<include name="Models.Feature" database="master" path="/sitecore/layout/Models/Feature">
							<exclude children="true" />
						</include>
						<include name="Models.Foundation" database="master" path="/sitecore/layout/Models/Foundation">
							<exclude children="true" />
						</include>
						<include name="Models.Project" database="master" path="/sitecore/layout/Models/Project">
							<exclude children="true" />
						</include>

						<!-- Core -->
						<include name="CustomFields.Project" database="core" path="/sitecore/system/Field types/Project">
							<exclude children="true" />
						</include>
						
					</predicate>
				</configuration>

			</configurations>
		</unicorn>
	</sitecore>
</configuration>