.lightbox-wrapper.lightbox-video
    .close
    .lightbox
        .iframe-responsive-wrapper
            .loader
            //- iframe.iframe-responsive(width='1440', height='549', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        .lightbox-content.niceScroll
            +titleCarrot('bucket list')
            h3 JS Usage: call lightbox.openLightbox('video') to open lightbox
            +profile('images/photo-day-1.png', 'Published 9 months ago', 'span Rabbit Today Staff')
            +reaction.red('2,012,399', '285')
            .brief พื้นฐานของจิตต์สิงห์ เริ่มต้นมาจากความชอบงานด้านศิลปะมาตั้งแต่วัยเด็ก จากการเขียนภาพเลียนแบบการ์ตูนญี่ปุ่นเล่นยามว่าง จนสามารถหารายได้ พื้นฐานของจิตต์สิงห์ เริ่มต้นมาจากความชอบงานด้านศิลปะมาตั้งแต่วัยเด็ก จากการเขียนภาพเลียนแบบการ์ตูนญี่ปุ่นเล่นยามว่าง จนสามารถหารายได้ พื้นฐานของจิตต์สิงห์ เริ่มต้นมาจากความชอบงานด้านศิลปะมาตั้งแต่วัยเด็ก จากการเขียนภาพเลียนแบบการ์ตูนญี่ปุ่นเล่นยามว่าง จนสามารถหารายได้ พื้นฐานของจิตต์สิงห์ เริ่มต้นมาจากความชอบงานด้านศิลปะมาตั้งแต่วัยเด็ก จากการเขียนภาพเลียนแบบการ์ตูนญี่ปุ่นเล่นยามว่าง จนสามารถหารายได้ พื้นฐานของจิตต์สิงห์ เริ่มต้นมาจากความชอบงานด้านศิลปะมาตั้งแต่วัยเด็ก จากการเขียนภาพเลียนแบบการ์ตูนญี่ปุ่นเล่นยามว่าง จนสามารถหารายได้...
.lightbox-wrapper.lightbox-youtube-video
    .close
    .lightbox
        .loader
        .iframe-responsive-wrapper
            //- iframe.iframe-responsive(width='1440', height='549', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')