.nav-cate-wrapper
    .swiper-container.nav-cate
        .button__swiper.is-next
        .swiper-wrapper.nav-cate-list.swiper-no-swiping
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-news.jpg", alt="")
                    span news
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-money.jpg", alt="")
                    span money&biz
            .swiper-slide.nav-cate-item.active
                a(href="#")
                    //- img(src="images/navigation-cate-look.jpg", alt="")
                    span looks
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-taste.jpg", alt="")
                    span taste
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-travel.jpg", alt="")
                    span travel
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-modern.jpg", alt="")
                    span modern midlife
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-auto.jpg", alt="")
                    span auto
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-tech.jpg", alt="")
                    span tech&sci
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-tech.jpg", alt="")
                    span tech&sci tech&sci tech&sci
            .swiper-slide.nav-cate-item
                a(href="#")
                    //- img(src="images/navigation-cate-tech.jpg", alt="")
                    span tech&sci
        .button__swiper.is-prev