.row    
    .col-lg-8
        .post.highlight-post
            +postOverlapTitle5('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่? เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่? เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-eye')
    .col-lg-4
        .row
            .col-md.col-lg-12
                .post
                    //- +postOverlapTitle2('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-heart', 'icon-eye')
                    +postOverlapTitle5('images/post-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-eye')
            .col-md.col-lg-12
                .post
                    //- +postOverlapTitle2('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-eye')
                    +postOverlapTitle5('images/post-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-eye')