.event-detail-maincontent-img-section
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")
    img.event-detail-maincontent-each-img(src="../images/event-detail-maincontent-img.jpg", alt="")