// Font family
@font-face {
    font-family: "CordiaUPC";
    src: url("../fonts/cordiau.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CordiaUPC-Bold";
    src: url("../fonts/cordiaub.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CordiaUPC-BoldItalic";
    src: url("../fonts/cordiauz.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DB-Adman-X";
    src: url("../fonts/DB Adman X v3.2.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DB-Adman-X-Bold";
    src: url("../fonts/DB Adman X Bd v3.2.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DB-Adman-X-Italic";
    src: url("../fonts/DB Adman X It v3.2.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quentin";
    src: url("../fonts/Quentin.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}