section.trending-post-section
    h2.heading.text-uppercase Upcoming events
    .trending-item-group.expand-item-wrapper
        +postLeftImgDate('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา คนไทยปิดหูปิดตา คนไทยปิดหูปิดตา ')
        +postLeftImgDate('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต')
        +postLeftImgDate('images/trend-3.png', 'Trending post img', 'Trip follower', 'เงินเดือน 15,000 คนไทยปิดหูปิดตา ')
        +postLeftImgDate('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา')
        +postLeftImgDate('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต')
    +showMoreBtn