<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="Caching.DisableCacheSizeLimits" set:value="false"/>
		</settings>
		<events>
			<event name="publish:end">
				<handler type="MockProject.Foundation.Caching.Cache.ApplicationCacheClearer, MockProject.Foundation.Caching" method="OnPublishEnd">
				</handler>
			</event>
			<event name="publish:end:remote">
				<handler type="MockProject.Foundation.Caching.Cache.ApplicationCacheClearer, MockProject.Foundation.Caching" method="OnPublishEndRemote">
				</handler>
			</event>
		</events>
	</sitecore>
</configuration>