section.breadcrumb
    .container
        ul.breadcrumb-link-list 
            li.breadcrumb-link
                a(href="#")
                    span HOME
            li.breadcrumb-link
                a(href="#")
                    span LOOKS
            li.breadcrumb-link.active
                a(href="#")
                    span FRONT ROW