.photo-day-section {
    padding-bottom: 2rem;
    @include min-md {
        margin-top: 2rem;
    }
    @include min-lg {
        margin-top: 0;
    }
    .photo-item {
        @include navy-rounded-border;
        padding: 1rem;
        @include min-md {
            padding: 0;
        }
    }
    .heading {
        opacity: 0;
        margin: 2rem 0;
    }
    #photo-of-the-day {
        .heading {
            opacity: 1;
        }
    }
}