.section-heading
    +headingH1('Around', 'the world')
    a.view-all(href="#") View all
.row.upcoming-items.row.expand-item-wrapper.around-world-type
    .col-md-4
        .post
            +postOverlapTitle1('images/upcoming-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
    .col-md-4
        .post
            +postOverlapTitle1('images/upcoming-2.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
    .col-md-4
        .post
            +postOverlapTitle1('images/upcoming-3.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
+showMoreBtn