.author-section-name-text {
    padding-left: 1rem;
    font-family: $font-DB-Adman-X;
    font-size: 2rem;
    color: $color-orange-dark;
    padding-top: 1rem;

    @include min-md {
        width: calc(100% - 5rem);
        padding-top: 0;

        .author-section-description {
            color: $color-black;
        }
    }

    @include min-lg {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        font-size: 2.1rem;
        font-weight: $weight-xbold;
        color: $color-black;
    }
}

.author-section-name-detail-page {
    margin-bottom: 2rem;
    display: flex;

    @include min-lg {
        margin-bottom: 0;
    }

    span {
        @include min-md {
            font-size: 1.6rem;
        }

        @include min-lg {
            font-size: 1.5rem;
        }
    }

    img {
        border-radius: 50%;
        border: 1px solid #939393;
        width: 4.5rem;
        height: 4.5rem;

        @include min-md {
            width: 5rem;
            height: 5rem;
        }

        @include min-lg {
            width: 4rem;
            height: 4rem;
        }
    }

}

.author-section-description {
    span {
        font-size: 1.5rem;
        font-family: $font-tahoma;

        @include min-lg {
            //   font-size: 1.5rem;
            display: block;
            line-height: 1.5;
            //   line-height: calc(24/28);
        }
    }
}

.author-line {
    display: none;

    @include min-md {
        display: block;
    }

    @include min-lg {
        display: none;
    }

    &.open-line {
        margin-bottom: 2.5rem;
    }

    &.close-line {
        margin-bottom: 3rem;
    }
}

.author-section-detail-page {
    margin-bottom: 1rem;

    @include min-md {
        margin-bottom: 0;
    }

    @include min-lg {
        padding-top: 2rem;
        margin-bottom: 0;
    }
}