.container
    .row
        .col-12
            hr.author-line.open-line
        .col-12.col-md-9.author-section-detail-page-col
            .author-section-detail-page
                .author-title-detail-page
                    p AUTHOR:
                .author-section-name-detail-page
                    img(src='../images/author-avatar.png', alt='')
                    .author-section-name-text 
                        span Rabbit Today Staff
                .author-section-description
                    span นักเขียน และนักพิสูจน์อักษร สำนักข่าว Rabbit Today  ้ชื่นชอบแฟชั่นและความงาม เวลาว่างของเขาจะหมดไป กับการเสิร์ช Youtube แฟชั่นวีค และติดตามเทรนด์ใหม่ๆ
        .col-12
            hr.author-line.close-line