.column-social-block
    a.column-social-icon(href="")
        span.icon-twitter
    a.column-social-icon(href="")
        span.icon-facebook
    a.column-social-icon(href="")
        span.icon-mail
            span.path1
            span.path2
            span.path3
    a.column-social-icon.is__Line-Share(href="")
        span.icon-line
            span.path1
            span.path2