<div class="footer-payment-section d-lg-block">
    <div class="container">
        <div class="row payment-row">
            <div class="col-lg-3">
                @Html.Sitecore().Placeholder("payment")
            </div>
            <div class="col-lg-3">
                @Html.Sitecore().Placeholder("delivery")
            </div>
            <div class="offset-lg-3 col-lg-3">
                @Html.Sitecore().Placeholder("mobile")
            </div>
        </div>
    </div>
</div>