.social-icon-title
    p FOLLOW US
.social-icon-list
    .social-icon
        a(href="#")
            span.icon-twitter
    .social-icon
        a(href="#")
            span.icon-facebook
    .social-icon
        a(href="#")
            span.icon-instagram
    .social-icon
        a(href="#")
            span.icon-youtube