<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Project.MockProject" extends="Foundation.Serialization.Base"  dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
					<predicate>
						<include name="templates" database="master" path="/sitecore/templates/Project/MockProject" />
						<include name="branches" database="master" path="/sitecore/templates/Branches/Project/MockProject" />
						<include name="renderings" database="master" path="/sitecore/layout/Renderings/Project/MockProject" />
						<include name="placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/MockProject" />
						<include name="layouts" database="master" path="/sitecore/layout/layouts/Project/MockProject" />
						<include name="models" database="master" path="/sitecore/layout/Models/Project/MockProject" />
						<!--<include name="languages" database="master" path="/sitecore/system/Languages" />
						<include name="InsertOptionsRules" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules" />-->
						<!--<include name="devices" database="master" path="/sitecore/layout/Devices" />-->
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
