<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<sites>
			<site patch:before="*[@name='website']"
			  inherits="website"
				name="mockproject" physicalFolder="/" hostName="sitecorefundamental.sc"
			  virtualFolder="/"
			  rootPath="/sitecore/content/sitecorefundamental"
			  startItem="/home"
			  language="en" contentLanguage="en"
			  database="web" domain="extranet" disableClientData="false"
			  cacheHtml="true" htmlCacheSize="250MB"
			  cacheRenderingParameters="true" renderingParametersCacheSize="100MB"
			  allowDebug="true" enablePreview="true" enableWebEdit="true" enableDebugger="true" enableAnalytics="true"
			  resolveBrowserLang="true"
			  enableItemLanguageFallback="true" />
		</sites>
		<!--<events>
			<event name="publish:end">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site name="mockproject">mockproject</site>
					</sites>
				</handler>
				<handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache"/>
			</event>
			<event name="publish:end:remote">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site name="mockproject">mockproject</site>
					</sites>
				</handler>
				<handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache"/>
			</event>
		</events>-->

		<settings>
			<!--  SERVER TIME ZONE
            This setting specifies the server time zone that is  used by the server to convert UTC time to local time, for example "GMT Standard Time".
            The value must be parsable to a valid Time Zone ID.                   See http://msdn.microsoft.com/en-us/library/gg154758.aspx
            If blank, Sitecore uses the operating system time zone.
            Default value: "" (use the operating system time zone)
      -->
			<setting name="ServerTimeZone" value="UTC" />
			<setting name="Login.DisableRememberMe" value="true" />
			<setting name="Login.RememberLastLoggedInUserName" value="false" />
			<setting name="Login.DisableAutoComplete" value="true" />
			<setting name="Analytics.Patterns.MinimalProfileScoreCount" value="2"/>
		</settings>
	</sitecore>
</configuration>
