footer.footer
  include ../e-newsletter-subscription/e-newsletter-subscription.pug
  .footer-menu-section
    .container
      .social-icon-block.social-icon-block-footer
        include ../social-icon/social-icon
      .row
        .col-md-8.col-lg-9
          .row.footer-menu-block
            .col-md-6.col-lg-4
              .footer-menu-list
                .footer-menu-list-title
                  p ARTICLE
                .footer-menu-list-item
                  ul
                    li.footer-menu-link
                      a(href="") News
                    li.footer-menu-link
                      a(href="") Money&Biz
                    li.footer-menu-link
                      a(href="") Looks
                    li.footer-menu-link
                      a(href="") Taste
                    li.footer-menu-link 
                      a(href="") Travel
                    li.footer-menu-link
                      a(href="") Modern Midlift
                    li.footer-menu-link
                      a(href="") Auto
                    li.footer-menu-link
                      a(href="") Tech&Sci
                    li.footer-menu-link
                      a(href="") Art
            .col-md-6.col-lg-4
              .footer-menu-list
                .footer-menu-list-title
                  p MORE
                .footer-menu-list-item
                  ul
                    li.footer-menu-link
                      a(href="") Event
                    li.footer-menu-link
                      a(href="") Media
                    li.footer-menu-link
                      a(href="") Search
            .col-md-12.col-lg-4
              .footer-menu-list
                .footer-menu-list-title
                  p ABOUT RABBIT TODAY
                .footer-menu-list-item
                  ul
                    li.footer-menu-link
                      a(href="") Contact us
                    li.footer-menu-link
                      a(href="") Affiliate
                    li.footer-menu-link
                      a(href="") Advertising
              .footer-menu-list
                .footer-menu-list-title
                  p TERM OF USE
                .footer-menu-list-item
                  ul
                    li.footer-menu-link
                      a(href="") Terms & Conditions
                    li.footer-menu-link
                      a(href="") Privacy Policy
                    li.footer-menu-link
                      a(href="") Cookies Policy
        .col.order-md-1
          .footer-logo-block
            .footer-logo
              a(href="") 
                img(src="../images/footer-logo.png", alt="")
            p.footer-copyright COPYRIGHTS &copy; 2018. 
              span.footer-copyright-span ALL RIGHTS RESERVED TO RABBIT TODAY 
include ../payment-method-section/payment-method-section.pug
.tags-section
  .container
    .tag-title
      p TAGS:
    .tag-list
      span.tag-item WORLD CUP 2018
      span.tag-item HUEWEI
      span.tag-item NASA 


