.col-lg-9
    .section-heading
        +headingH1('Latest', 'events')
        a.view-all(href="#") View all
    .row.upcoming-items.expand-item-wrapper.latest-event-type.lazy-load-type
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-2.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-3.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-2.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-3.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-1.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-2.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
        .col-md-4
            .post
                +postOverlapTitle1('images/upcoming-3.png', 'take a ride', 'เทรนมาแรง ออเจ้า กับชุดไทย', 'icon-clock', 'icon-location')
    +showMoreBtn
    input#LastestEventDatasourceId(name='LastestEventDatasourceId', type='hidden', value='{EA36C595-06CA-476C-8F1B-39335453F62D}')