.footer-payment-section.d-lg-block
    .container
      .row.payment-row
        .col-lg-3
          .footer-menu-list-title
            p PAYMENT METHOD
          .payment-medthod-list
            //- img(src="../images/Visa.jpg", alt="")
            //- img(src="../images/master-card.jpg", alt="")
            //- img(src="../images/Paypal.jpg", alt="")
            img(src="../images/footer/payment.png", alt="payment")
        .col-lg-3
          .footer-menu-list-title
            p DELIVERY SERVICES
          .service-list
            //- img(src="../images/service-kerry.jpg", alt="")
            //- img(src="../images/service-thailand.jpg", alt="")
            //- img(src="../images/DHL.jpg", alt="")
            img(src="../images/footer/services.png", alt="services")
        .offset-lg-3.col-lg-3
          .footer-menu-list-title
            p MOBILE APPLICATIONS
          .qr-code
            img(src="../images/QRcode.jpg", alt="")
          .mobile-app
            .mobile-app-img
              img(src="../images/app-store.jpg", alt="")
              img(src="../images/google-play.jpg", alt="")