extends layouts/default

block content
    section.blank-page-section
        include partials/breadcrumb/breadcrumb.pug
        .container
            .row
                .col-md-8.col-lg-9
                    .blank-page-title
                        p เปิดกรุ BALENCIAGA พร้อมไอเท็ม้ามพลาดประจำปี 2018
            .blank-page-text
                p Blank Page Text

        