extends layouts/default

block content
    include partials/hero-event-landing/hero-event-landing.pug
    +advertisingOutCol('images/advertising-1.png')
    section.around-the-world-section.section-grey-bg
        .container.animated
            .row
                .col-lg-9
                    include partials/around-the-world/around-the-world.pug
                .col-lg-3
                    .advertising-fixed
                        +advertisingInCol('images/advertis-1.png')
    section.latest-events
        .container.animated
            .row
                include partials/latest-events/latest-events.pug
                .col-lg-3
                    .advertising-fixed
                        +advertisingInCol('images/advertis-1.png')
    include partials/lightbox/lightbox-video