extends layouts/default

block content
    section.detail-section.news-detail
        include partials/detail-page-title/detail-page-title
        .detail-image-block
            img(src='../images/detail-image.jpg', alt='')
        include partials/news-detail-content-section/news-detail-content-section.pug
        .readmore-button-advertise
            +advertisingOutCol('images/advertise-type-1.jpg')