.detail-maincontent-container
    .row.detail-maincontent-row
        .col.col-md-8.col-lg-9.detail-maincontent-col
            include ../social-icon-column/social-icon-column.pug
            .detail-maincontent-block
                .detail-maincontent-text
                    p หนึ่งในบุคคลผู้สร้างปรากฏการณ์นี้ คือ Cristóbal Balenciaga นักออกแบบจาก Basque ผู้ก่อกำเนิดแบรนด์แฟชั่น สะท้านโลก Balenciaga ซึ่งเริ่มต้นชื่อเสียงในฐานะนักออก แบบแฟชั่นชั้นสูงหัวก้าวหน้าจากการทำงาน ออกแบบ เครื่องแต่งกายสตรีที่ผสมผสานทั้งความคิดสร้างสรรค์ที่ล้ำยุคเข้ากับความประณีตสุดเฉียบที่ไม่ยอม ให้ขาดตก บกพร่องในเรื่องฝีมือและคุณภาพจนได้รับการนับถือว่าเป็น “นักออกแบบชั้นครู” โดยคำนิยมที่ เชื่อถือได้จาก Christain Dior ผลงานออกแบบแฟชั่นในทุก ยุคสมัยของ Balenciaga นั้นมีอิทธิพลอย่าง สูงต่อทิศทางของวงการแฟชั่น ชั้นสูงของโลก เริ่มตั้งแต่เมื่อเขาเปิดร้านหรูที่ San Sebastián ประเทศสเปนในปี 1918 เป็นต้นมา และ ขยาย สาขาไปตามเมืองใหญ่ต่างๆ ทั่วประเทศ โดยมีลูกค้า เป็นเหล่าราชนิกูลและไฮโซมาอุดหนุนให้เขาฟูเพื่องทั้งเงิน และชื่อเสียง จนกระทั่งเกิดสงครามกลางเมืองขึ้นในสเปน
                    img.detail-news-maincontent-img(src="../images/detail-maincontent-image.jpg", alt="")
                    p สารของบรรณาธิการแฟชั่นของนิตยสารชั้นนำ และส่งผลกระทบอย่างยิ่งใหญ่เป็นปรากฏการณ์ลูกโซ่ที่ไม่ได้ห ยุดแค่วงการแฟชั่น แต่อาจกระทบเลยเถิด ไปถึงอุตสาหกรรมอาหาร และรูปแบบการทำเกษตรกรรม หรือการเลี้ยงสัตว์เลยทีเดียว จึงเห็นได้ว่า นักออกแบบ แฟชั่นตัวเล็กๆ ในห้องทำงานที่เต็ม ไปด้วยกระดาษ ดินสอสี หุ่นโชว์เสื้อ และผ้าตัวอย่างมากมาย เป็นบุคคลสำคัญ ที่มีอิทธิพลต่อโลกอย่างยิ่งใหญ่และลึกล้ำ
                    //- hr.detail-news-quote-line.open-line
                    blockquote หนึ่งในบุคคลผู้สร้างปรากฏการณ์นี้ คือ Cristóbal Balenciaga นักออกแบบจาก Basque ผู้ก่อกำเนิดแบรนด์แฟชั่นสะท้านโลก Balenciaga ซึ่งเริ่มต้นชื่อเสียงใน ฐานะนักออกแบบแฟชั่นชั้นสูงหัว ก้าวหน้าจากการทำงาน
                    //- hr.detail-news-quote-line.close-line
                    p หรูที่ San Sebastián ประเทศสเปนในปี 1918 เป็นต้นมา และขยายสาขาไปตามเมืองใหญ่ต่างๆทั่ว ประเทศ โดยมี ลูกค้าเป็นเหล่าราชนิกูลและไฮโซ มาอุดหนุนให้เขาฟูเพื่อง ทั้งเงินและชื่อเสียง จนกระทั่ง 