<div class="grid grid-rev">
    <div class="grid-item-1of3 grid-item-xs-1of1 grid-item-l-1of3">
        @Html.Sitecore().Placeholder("column3")
    </div>
    <div class="grid-item-1of3 grid-item-xs-1of1 grid-item-l-1of3">
        @Html.Sitecore().Placeholder("column2")
    </div>
    <div class="grid-item-1of3 grid-item-xs-1of1 grid-item-l-1of3">
        @Html.Sitecore().Placeholder("column1")
    </div>
</div> 