@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.SectionModel

@{
    string autoTime = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        autoTime = parms["AutoTime"];
    }
}

<section class="advertising-section">
    <div class="container">
        <div class="swiper-container advertising advertising-carousel text-center" autoplaytime="@autoTime">
            @Html.Sitecore().Placeholder("horizontal-slidebar")
        </div>
    </div>
</section>