@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.SectionModel

<section class="bloggers-section section-grey-bg">
    <div class="container animated">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading">
                    <h1 class="heading">bloggers<span class="txt-italic">rabbit</span></h1><a class="view-all" href="#">View all</a>
                </div>
                <div class="row blogger-items expand-item-wrapper">
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-1.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย เทรนมาแรง ออเจ้า กับชุดไทยเทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-2.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-3.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-4.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-5.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blogger">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image"><img src="images/blog-post-6.png" alt="post img"></a>
                                    <div class="round-box">
                                        <div class="title-carrot">take a ride<i class="icon-eye"></i>285</div><a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                    </div>
                                </div>
                                <div class="blogger-info"><span><img class="rounded-circle" src="images/blogger-1.png" alt="blogger">Nanna_V</span></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="more-btn text-center"><a class="show-more active" title="Show more button"> <span>more</span><i class="icon-arrow-down"></i></a><a class="show-less" title="Show less button"><span>less</span><i class="icon-arrow-down"></i></a></div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="row">
                    <div class="col-md-4 col-lg">
                        <div class="photo-day-section"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>