@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.SectionModel

<section class="section hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-md-1">
                @Html.Sitecore().Placeholder("hero-slidebar")
            </div>
            <div class="col-md-4 order-md-3 order-lg-2 col-lg-3 social-post">
                <section class="trending-post-section">
                    <h2 class="heading text-uppercase">trending post</h2>
                    <div class="trending-item-group expand-item-wrapper">
                        <article class="post-left-img card flex-row border-0">
                            <div class="card-img-left">
                                <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                    <img src="https://icdn.dantri.com.vn/thumb_w/640/2016/kieu-trinh2-1482859504769.jpg" alt="Trending post img">
                                </a>
                            </div>
                            <div class="card-body">
                                <a class="title-carrot" href="#">The risk taker</a>
                                <a class="card-text" href="#">คนไทยปิดหูปิดตา กับการเมือง คนไทยปิดหูปิดตา กับการเมือง</a>
                            </div>
                        </article>
                        <article class="post-left-img card flex-row border-0">
                            <div class="card-img-left">
                                <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                    <img src="https://thuthuatnhanh.com/wp-content/uploads/2020/01/hinh-anh-girl-xinh-ngay-tet-dep.jpg" alt="Trending post img">
                                </a>
                            </div>
                            <div class="card-body">
                                <a class="title-carrot" href="#">rabbit club</a>
                                <a class="card-text" href="#">รถยนต์แห่งโลกอนาคต ภายใน 2020</a>
                            </div>
                        </article>
                        <article class="post-left-img card flex-row border-0">
                            <div class="card-img-left">
                                <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                    <img src="http://baogialai.com.vn/dataimages/201802/original/images2619365_t_1.jpg" alt="Trending post img">
                                </a>
                            </div>
                            <div class="card-body">
                                <a class="title-carrot" href="#">Trip follower</a>
                                <a class="card-text" href="#">เงินเดือน 15,000 บาท ซื้อคอนโดได้...</a>
                            </div>
                        </article>
                    </div>
                    <div class="more-btn text-center"><a class="show-more active" title="Show more button"> <span>more</span><i class="icon-arrow-down"></i></a><a class="show-less" title="Show less button"><span>less</span><i class="icon-arrow-down"></i></a></div>
                </section>
                <section class="day-blog">
                    <h2 class="heading text-uppercase">Blog of the day</h2>
                    <div class="blog-item-group">
                        <article class="post-left-img card flex-row border-0">
                            <div class="card-img-left">
                                <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                    <img src="https://danviet.mediacdn.vn/upload/1-2020/images/2020-01-18/15965430_1300583570002895_5607233112345429670_n-1579349181-width960height640.jpg" alt="Blog of the day img">
                                </a>
                            </div>
                            <div class="card-body">
                                <a class="title-carrot" href="#">Trip follower</a>
                                <a class="card-text" href="#">หูฟังสุดเก๋ คุณภาพคับแก้ว ราคาย่อมเยาว์</a>
                            </div>
                        </article>
                    </div>
                    <hr>
                </section>
            </div>
            <div class="col-md-8 order-md-2 order-lg-3 col-lg-9 latest-posts">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post highlight-post">
                            <article class="post-overlap-title">
                                <div class="img-with-box">
                                    <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                        @*images/post-light.png*@
                                        <img src="https://zcc.vn/wp-content/uploads/2020/12/zcc.vn-top-5-dia-diem-chup-anh-ao-dai-dep-tai-tp-ho-chi-minh-15826440-241072202986970-9026333708629482702-n.jpg" alt="post img">
                                    </a>
                                    <div class="round-box">
                                        <div class="title-carrot">
                                            Music
                                            <i class="icon-eye"></i>285
                                        </div>
                                        <a class="round-box-text mb-0" href="#">เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่? เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่? เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md col-lg-12">
                                <div class="post">
                                    <article class="post-overlap-title">
                                        <div class="img-with-box">
                                            <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                                <img src="https://bizweb.dktcdn.net/100/360/145/files/chup-anh-tet-dep-namnguyenstudio-2.jpg?v=1578372176201" alt="post img">
                                            </a>
                                            <div class="round-box">
                                                <div class="title-carrot">
                                                    take a ride
                                                    <i class="icon-eye"></i>285
                                                </div>
                                                <a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-md col-lg-12">
                                <div class="post">
                                    <article class="post-overlap-title">
                                        <div class="img-with-box">
                                            <a class="img bg-overlay img-to-bg" href="#" title="Image">
                                                <img src="https://i.ytimg.com/vi/Xp29hxMR4nA/maxresdefault.jpg" alt="post img">
                                            </a>
                                            <div class="round-box">
                                                <div class="title-carrot">
                                                    take a ride
                                                    <i class="icon-eye"></i>285
                                                </div>
                                                <a class="round-box-text mb-0" href="#">เทรนมาแรง ออเจ้า กับชุดไทย</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-4 lottery-board d-block d-md-none d-lg-block">
                <section class="text-center" id="lottery-section">
                    <div class="lottery">
                        <a class="img-responsive" href="#" target="_blank">
                            <div class="swiper-container lottery-container" autoplaytime="5000">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img class="img-lg" src="https://i.pinimg.com/originals/79/a9/76/79a976011fd5229bf96ad0b703b1113a.jpg" alt="Lottery image"><img class="img-md" src="images/lottery-desktop.png" alt="Lottery image"><img class="img-xs" src="images/lottery-desktop.png" alt="Lottery image"></div>
                                    <div class="swiper-slide"><img class="img-lg" src="https://i.pinimg.com/originals/79/a9/76/79a976011fd5229bf96ad0b703b1113a.jpg" alt="Lottery image"><img class="img-md" src="images/lottery-desktop.png" alt="Lottery image"><img class="img-xs" src="images/lottery-desktop.png" alt="Lottery image"></div>
                                    <div class="swiper-slide"><img class="img-lg" src="https://i.pinimg.com/originals/79/a9/76/79a976011fd5229bf96ad0b703b1113a.jpg" alt="Lottery image"><img class="img-md" src="images/lottery-desktop.png" alt="Lottery image"><img class="img-xs" src="images/lottery-desktop.png" alt="Lottery image"></div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>