@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.SectionModel

<section class="upcoming-section">
    <div class="container animated">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading">
                    <h1 class="heading">@Html.Glass().Editable(Model, x => x.Name)<span class="txt-italic">@Html.Glass().Editable(Model, x => x.SubName)</span></h1><a class="view-all" href="#">View all</a>
                </div>
                <div class="row upcoming-items expand-item-wrapper upcoming-items-type">
                    @Html.Sitecore().Placeholder("upcoming-event")
                </div>
                <div class="more-btn text-center"><a class="show-more active" title="Show more button"> <span>more</span><i class="icon-arrow-down"></i></a><a class="show-less" title="Show less button"><span>less</span><i class="icon-arrow-down"></i></a></div>
            </div>
            <div class="col-lg-3 d-block d-md-none d-lg-block">
                @Html.Sitecore().Placeholder("block-slidebar")               
            </div>
        </div>
        <hr>
    </div>
</section>