@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.SectionModel

<section class="video-section">
    <div class="container animated">
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="section-heading">
                            <h1 class="heading">video<span class="txt-italic">today</span></h1><a class="view-all" href="#">View all</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="video video-highlight" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
                                    <article class="post-left-img card flex-row border-0">
                                        <div class="card-img-left">
                                            <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                                                <img src="images/video-1.png" alt="Video">
                                                <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก </a>
                                            <ul class="social-list-items">
                                                <li class="item"><i class="icon-heart"></i>285</li>
                                                <li class="item"><i class="icon-eye"></i>285342343</li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-md col-lg-12">
                                        <div class="video" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
                                            <article class="post-left-img card flex-row border-0">
                                                <div class="card-img-left">
                                                    <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                                                        <img src="images/video-2.png" alt="Video">
                                                        <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก  ั่วทุกมุมโลก</a>
                                                    <ul class="social-list-items">
                                                        <li class="item"><i class="icon-heart"></i>285</li>
                                                        <li class="item"><i class="icon-eye"></i>285342343</li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="col-md col-lg-12">
                                        <div class="video" video-id="c4117a97-0d64-496b-a6e5-e9d7cb45811c">
                                            <article class="post-left-img card flex-row border-0">
                                                <div class="card-img-left">
                                                    <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp3">
                                                        <img src="images/video-3.png" alt="Video">
                                                        <div class="video-overlay-bg"><i class="icon-play-button"></i></div>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="title-carrot">Cover artist</div><a class="card-text mb-0" href="#">ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก ที่สุดของเมล็ดกาแฟ นำเข้าจาก ทั่วทุกมุมโลก</a>
                                                    <ul class="social-list-items">
                                                        <li class="item"><i class="icon-heart"></i>285</li>
                                                        <li class="item"><i class="icon-eye"></i>285342343</li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <section class="podcast">
                            <h2 class="heading text-uppercase">Podcast</h2>
                            <div class="podcast-item-group">
                                <article class="post-left-img card flex-row border-0">
                                    <div class="card-img-left">
                                        <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp4">
                                            <img src="images/trend-1.png" alt="Trending post img">
                                            <div class="video-overlay-bg"><i class="icon-audio"></i></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-carrot">The risk taker</div><a class="card-text" href="#">คนไทยปิดหูปิดตา กับการเมือง คนไทยปิดหูปิดตา กับการเมือง</a>
                                    </div>
                                </article>
                                <article class="post-left-img card flex-row border-0">
                                    <div class="card-img-left">
                                        <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp4">
                                            <img src="images/trend-2.png" alt="Trending post img">
                                            <div class="video-overlay-bg"><i class="icon-audio"></i></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-carrot">rabbit club</div><a class="card-text" href="#">รถยนต์แห่งโลกอนาคต ภายใน 2020</a>
                                    </div>
                                </article>
                                <article class="post-left-img card flex-row border-0">
                                    <div class="card-img-left">
                                        <a class="img bg-overlay img-to-bg" href="#" title="Image" data-src="//clips.vorwaerts-gmbh.de/VfE_html5.mp4">
                                            <img src="images/trend-3.png" alt="Trending post img">
                                            <div class="video-overlay-bg"><i class="icon-audio"></i></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-carrot">Trip follower</div><a class="card-text" href="#">เงินเดือน 15,000 บาท ซื้อคอนโดได้...</a>
                                    </div>
                                </article>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <input id="VideoDetailDatasourceId" name="VideoDetailDatasourceId" type="hidden" value="{441FDC02-B2B7-4E85-8616-36CD28861827}">
    </div>
</section>