@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.Tag.ListTagsModel

<div class="tags-section">
    <div class="container">
        <div class="tag-title">
            <p>TAGS:</p>
        </div>
        <div class="tag-list">
            @foreach (var category in Model.Tags)
            {
                <span class="tag-item">@category.Name</span>
            }
        </div>
    </div>
</div>