section.section.hero-section.hero-news-landing
	.container
		.row
			.col-md-8.col-lg-9.latest-posts
				include ../latest-post/latest-post.pug
			.col-md-4.col-lg-3.social-post
				include ../trending-post/trending-post.pug
				include ../blog-of-the-day/blog-of-the-day.pug
				+advertisingInCol('images/advertis-1.png')