section.section.hero-section.hero-event-landing
	.container
		.row
			.col-md-8.col-lg-9.latest-posts
				.row
					.col-lg-8
						.post.highlight-post
							+postOverlapTitle1('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-clock', 'icon-location')
					.col-lg-4
						.row
							.col-md.col-lg-12
								.post
									+postOverlapTitle1('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-clock', 'icon-location')
							.col-md.col-lg-12
								.post
									+postOverlapTitle1('images/post-light.png', 'Music', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้หรือไม่?', 'icon-clock', 'icon-location')
			.col-md-4.col-lg-3.social-post
				section.trending-post-section
					h2.heading.text-uppercase Upcoming events
					.trending-item-group.expand-item-wrapper
						+postLeftImgDate('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา')
						+postLeftImgDate('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต คนไทยปิดหูปิดตา คนไทยปิดหูปิดตา')
						+postLeftImgDate('images/trend-3.png', 'Trending post img', 'Trip follower', 'เงินเดือน 15,000')
						+postLeftImgDate('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา')
						+postLeftImgDate('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต')
					+showMoreBtn
				+advertisingInCol('images/advertis-1.png')