.event-detail-logo-section
    //- .row
    //-     .col-6.col-md-4
    //-         .event-detail-logo-title
    //-             p ช่องทางจำหน่ายบัตร :
    //-     .col-6.col-md-4
    //-         .event-detail-logo-img
    //-             img(src="../images/major-logo.png", alt="")
    //-     .col-6.col-md-4
    //-         .event-detail-logo-img
    //-             img(src="../images/eventpop-logo.png", alt="")
    //-     .col-6.col-md-4
    //-         .event-detail-logo-img
    //-             img(src="../images/intouch-logo.png", alt="")
    .event-detail-logo-title
        p ช่องทางจำหน่ายบัตร :
    .event-detail-logo-img
        img(src="../images/major-logo.png", alt="")
    .event-detail-logo-img
        img(src="../images/eventpop-logo.png", alt="")
    .event-detail-logo-img
        img(src="../images/intouch-logo.png", alt="")