section.day-blog
	h2.heading.text-uppercase Blog of the day
	.blog-item-group
		+postLeftImg('images/blog-1.png', 'Blog of the day img', 'Trip follower', 'หูฟังสุดเก๋ คุณภาพคับแก้ว ราคาย่อมเยาว์')
	hr