section.podcast
	h2.heading.text-uppercase Podcast
	.podcast-item-group
		+postLeftAudio('images/trend-1.png', 'Trending post img', 'The risk taker', 'คนไทยปิดหูปิดตา กับการเมือง คนไทยปิดหูปิดตา กับการเมือง')
		+postLeftAudio('images/trend-2.png', 'Trending post img', 'rabbit club', 'รถยนต์แห่งโลกอนาคต ภายใน 2020')
		+postLeftAudio('images/trend-3.png', 'Trending post img', 'Trip follower', 'เงินเดือน 15,000 บาท ซื้อคอนโดได้...')