section#lottery-section.text-center
    .lottery
        a.img-responsive(href="#" target="_blank")
            .swiper-container.lottery-container(autoPlayTime="5000")
                .swiper-wrapper
                    .swiper-slide
                        img.img-lg(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-md(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-xs(src='images/lottery-desktop.png', alt="Lottery image")
                    .swiper-slide
                        img.img-lg(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-md(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-xs(src='images/lottery-desktop.png', alt="Lottery image")
                    .swiper-slide
                        img.img-lg(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-md(src='images/lottery-desktop.png', alt="Lottery image")
                        img.img-xs(src='images/lottery-desktop.png', alt="Lottery image")
                .swiper-button-next
                .swiper-button-prev