@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.AdvertisementModel

<section class="advertising-section">
    <div class="container">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @Html.Glass().Editable(x => x.Time)
        }
        <div class="swiper-container advertising advertising-carousel text-center" autoplaytime="@Model.Time">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Items)
                {

                    <div class="swiper-slide item">
                        @using (Html.Glass().BeginRenderLink(item, x => x.Link, isEditable: true))
                        {
                            @Html.Glass().RenderImage(item, x => x.Image, isEditable: true)
                        }
                    </div>
                }
                @*<div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>
                    <div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>
                    <div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>*@
            </div>
        </div>
    </div>
</section>

