@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.TemplateModels.NavCategoryModel

@foreach (var category in Model.Categories)
{
<div class="swiper-slide nav-cate-item">
    @using (Html.Glass().BeginRenderLink(category, x => x.Link, isEditable: true))
    {
        <span>@category.Name</span>
    }
</div>
}
