@using Glass.Mapper.Sc.Web.Mvc
@using MockProject.Foundation.SitecoreExtensions.Extensions
@using MockProject.Foundation.SitecoreExtensions.Helpers
@model MockProject.Feature.Sample.Models.RenderingModels.ProductRenderingModel


<h1>Test View Rendering Component</h1>

<section class="advertising-section">
    <div class="container">
        <div class="swiper-container advertising advertising-carousel text-center" autoplaytime="5">
            <div class="swiper-wrapper">
                <p>@Html.Glass().Editable(Model.Model, x => x.Name)</p>
                @Html.Glass().RenderImage(Model.Model, x => x.Image, isEditable: false)
                @*<div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>
        <div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>
        <div class="swiper-slide item"><a href="#" target="_blank"><img src="static/images/advertising-1.png" alt="Advertising"></a></div>*@
            </div>
        </div>
    </div>
</section>